/* Navigation Settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  text-align: center; 
  background-color:#524e4e; 
  padding: 10px 0; 
}

nav ul {
  list-style: none; 
  display: inline-block; 
  padding: 0; 
}


nav ul li {
  display: inline; 
  margin: 0 15px; 
}


nav ul li a {
  text-decoration: none; 
  color: #000000; 
  font-size: 18px; 
  font-weight: bold; 
}

nav ul li a:hover {
  color: #ffffff; 
}
/* end */
